#totoro {
    background-color: #FFD1DA;
  }

  @import url(https://fonts.googleapis.com/css?family=Montserrat:300&subset=latin-ext);

/* *{
    box-sizing: border-box;
    height: 100%;
    margin: 0;
    padding: 0;
} */

.photo1{
  background-repeat: no-repeat;
  position: relative;
  Bottom: 10px;
  height: 39vw;
  background-size: 100% auto;
  background-image: url(../album/MundoTotoro.png);
}

.topnav {
  height: 7%;
  position: relative;
  bottom: 360px;
  overflow: hidden;
  background-image: linear-gradient(
    to right top,
    #40128B,
    #9336B4,
    #DD58D6,
    #FFE79B
  )
}

.topnav a {
  float: left;
  display: block;
  color: rgb(225, 181, 218);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.active {
  background-color: #7804aa;
  color: white;
}

.topnav .icon {
  display: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 17px;    
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.topnav a:hover, .dropdown:hover .dropbtn {
  background-image: linear-gradient(
    to right bottom,
    #40128B,
    #9336B4,
    #DD58D6,
    #FFE79B
  );
  color: white;
}

#sessao-bemvindo1 {
  padding-left: 0;
  height: 40%;
}

.sessao-bemvindo-totoro {
  padding-left: 700px;
  font-size: 16px;
  position: relative;
  bottom: 300px;
  right: 100px;
  color: #7804aa;
}

#sessao-bemvindo1 .banner1 {
  position:absolute;
  top: -201px;
  left: 20px;
  margin: 0;
  width: 400px;
  height: 600px;
  background-image: url('../album/photo1.jpg');
  background-position: center;
  background-size: cover;
}

#teste{
  height: 0%;
}


h1 {
  position: relative;
  bottom: 30px;
  right: 8px;
  margin-top: 70px;
  color: #40128B;
  font-size: 30px;
}

.text{
    position: relative;
    width: 921px;
    padding-left: 21px;
    left:  450px;
    bottom: 480px;
    line-height: 2;
    font-size: 16px;
}

.text2 {
    position: relative;
    bottom: 650px;
    width: 921px;
    padding-left: 21px;
    left:  450px;
    font-size: medium;
}

.text3 {
    position: relative;
    bottom: 860px;
    left:  450px;
    width: 921px;
    padding-left: 21px;
    font-size: 18px;
}

.text4 {
  position: relative;
  bottom: 1094px;
  left:  450px;
  width: 921px;
  padding-left: 21px;
  font-size: 18px;
}

.text12 {
  position: relative;
  font-size: 18px;
  bottom: 1327px;
  left:  433px;
  width: 921px;
  padding-left: 35px;
}



#photoTotoro { 
    position: absolute;
    left: 77vw;
    top: 527px;
    width: 240px;
    height: 450px;
    background-image: url(/src/album/totoroReunido.jpg);
    background-position: center;
    background-size: cover;
    float: left;
} 

.sessao-text1 {
 position: relative;
text-align: justify;
padding-left: 29%;
line-height: 150%;
right: 370px;
bottom: 543px;
  line-height: 2;
  font-size: 16px;
}

.text5 {
  position: relative;
  bottom: 1200px;
  right: 310px;
  text-align: justify;
padding-left: 25%;
padding-right: 5%;
line-height: 150%;
}

.text6 {
  position: relative;
  bottom: 131vw;
  right: 309px;
  text-align: justify;
  padding-left: 25%;
  padding-right: 5%;
  line-height: 150%;
  height: 52px;
}

.text7 {
  position: relative;
  bottom: 138vw;
  right: 310px;
  text-align: justify;
  padding-left: 25%;
  padding-right: 5%;
  line-height: 150%;
  height: 60px;
}

.sessao-minibanner3 { 
  position: absolute;
  left: 20px;
  top: 114vw;
  width: 280px;
  height: 500px;
  background-image: url('../album/totoroFofo.jpg');
  background-position: center;
  background-size: cover;
} 

.sessao-text2{
  position: relative;
  right: 100px;
  text-align: justify;
padding-left: 30%;
line-height: 150%;
}

.text9{
  position: relative;
  top: 105px;
  right: 100px;
  text-align: justify;
  padding-left: 30%;
  line-height: 150%;
}

.text10{
  position: relative;
  top: 213px;
  right: 100px;
  text-align: justify;
padding-left: 30%;
line-height: 150%;
}

.text11{
  position: relative;
  top: 160px;
  right: 100px;
  text-align: justify;
padding-left: 30%;
line-height: 150%;
}

.capa {
  position: relative;
  right: 20px;
  top: 500px;
  height: 440px;
  background-image: url('../album/footer1.png');
  background-position: center;
  background-size: cover;
}

.image {
  background-image: url("../album/jijiIcon.png");
  position: relative;
  top: 21vw;
  width: 150px;
  height: 150px;
  left: 630px;
  background-position: center;
  background-size: cover;
}

#legenda{
    position: relative;
    margin-left: 630px;
    height: 0;
    color: #9336B4;
}

.sl3 {
  width: 30%;
  height: 400px;
  position: relative;
  left: 200px;
  top: 150px;
}

.slick-next {
  left: 1000px!important;
  position: relative;
  bottom: 300px !important;
  width: 0;
}
.slick-dots {
  bottom: none!important;
  position: absolute;

  display: none!important;
}

.slick-prev {
  left: -25px;
  top: 161px;
}

.imageD {
  height: 500px;
  width: 84%;
}

.sl4{
  width: 32%;
  height: 400px;
  position: relative; 
  left: 600px;
  bottom: 250px;
  margin-left: 100px
}



/* LOCAL PARA APP */
@media screen and (max-width: 600px) {
  .topnav a:not(:first-child), .dropdown .dropbtn {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav.responsive .dropdown {float: none;}
  .topnav.responsive .dropdown-content {position: relative;}
  .topnav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }
}
  

.initial{
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("http://localhost:5173/src/album/capa.png");
    height: 100%;
}

.btn {
    position: absolute;
    height: 60px;
    bottom: 150px;
    left: 650px;
    background: #1acbd4;
     background-image: -webkit-linear-gradient(top, #1acbd4, #1a51b8);
    background-image: -moz-linear-gradient(top, #1acbd4, #1a51b8);
    background-image: -ms-linear-gradient(top, #1acbd4, #1a51b8);
    background-image: -o-linear-gradient(top, #1acbd4, #1a51b8);
    background-image: linear-gradient(to bottom, #1acbd4, #1a51b8);
    -webkit-border-radius: 25px;
    -moz-border-radius: 22px;
    border-radius: 22px;
    text-shadow: 10px 9px 3px #1c57e3;
    -webkit-box-shadow: 5px 4px 13px #23ede6;
    -moz-box-shadow: 5px 4px 13px #23ede6;
    box-shadow: 5px 4px 13px #23ede6;
    font-family: Courier New;
    color: #c1e9f7;
    font-size: 31px;
    padding: 12px 22px 12px 23px;
    border: solid #1ad6c9 2px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #3c86fc;
    background-image: -webkit-linear-gradient(top, #3c86fc, #34d1d9);
    background-image: -moz-linear-gradient(top, #3c86fc, #34d1d9);
    background-image: -ms-linear-gradient(top, #3c86fc, #34d1d9);
    background-image: -o-linear-gradient(top, #3c86fc, #34d1d9);
    background-image: linear-gradient(to bottom, #3c86fc, #34d1d9);
    text-decoration: none;
  } 

